@font-face{font-family:Jost;src:url('assets/font-7.woff2');font-weight:400;font-display:swap}
@font-face{font-family:Jost;src:url('assets/font-6.woff2');font-weight:300;font-display:swap}
@font-face{font-family:Jost;src:url('assets/font-5.woff2');font-weight:200;font-display:swap}
@font-face{font-family:Inter;src:url('assets/font-0.woff2');font-weight:400;font-display:swap}
@font-face{font-family:Inter;src:url('assets/font-1.woff2');font-weight:500;font-display:swap}
@font-face{font-family:Inter;src:url('assets/font-2.woff2');font-weight:600;font-display:swap}
@font-face{font-family:Inter;src:url('assets/font-3.woff2');font-weight:700;font-display:swap}
@font-face{font-family:Inter;src:url('assets/font-4.woff2');font-weight:800;font-display:swap}
